RewriteEngine On
RewriteRule    ^account/submit?$    index.php    [NC,L]
RewriteRule    ^quickregister/cancel?$    index.php    [NC,L]
RewriteRule    ^quickregister/start?$    register.php?step=1    [NC,L]
RewriteRule    ^quickregister/start_loaded?$    register.php?step=1    [NC,L]
RewriteRule    ^quickregister/age_gate_submit$    register.php?step=1    [NC,L]
RewriteRule    ^quickregister/email_password$    register.php?step=2    [NC,L]
RewriteRule    ^quickregister/email_password_submit$    register.php?step=2    [NC,L]
RewriteRule    ^quickregister/captcha$    register.php?step=3    [NC,L]
RewriteRule    ^quickregister/finalcheck$    register.php?step=3    [NC,L]
RewriteRule    ^me$    me.php    [NC,L]
RewriteRule    ^myhabbo/tag/add$    actions/addtag.php    [NC,L]
RewriteRule    ^habblet/mytagslist$    components/taglist.php    [NC,L]
RewriteRule    ^habblet/proxy$    actions/commontags.php    [NC,L]