
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Dox Hotel: Meld je gratis aan</title>

<script type="text/javascript">
	if(top != self) top.location = self.location;
	var andSoItBegins = (new Date()).getTime();
</script>

<link rel="shortcut icon" href="{url}/web-gallery/v2/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="{url}/web-gallery/static/styles/common.css" type="text/css" />

<script src="{url}/web-gallery/static/js/libs2.js" type="text/javascript"></script>
<script src="{url}/web-gallery/static/js/visual.js" type="text/javascript"></script>
<script src="{url}/web-gallery/static/js/libs.js" type="text/javascript"></script>
<script src="{url}/web-gallery/static/js/common.js" type="text/javascript"></script>

<script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

<script type="text/javascript">
document.doxLoggedIn = false;
var doxName = null;
var ad_keywords = "";
var doxReqPath = "";
var doxStaticFilePath = "{url}/web-gallery";
var doxImagerUrl = "/dox-imaging/";
var doxPartner = "";
window.name = "doxMain";
if (typeof DoxClient != "undefined") {
    DoxClient.windowName = "client";
    DoxClient.maximizeWindow = true;
}
</script>

<link rel="stylesheet" href="{url}/web-gallery/static/styles/quickregister.css" type="text/css" />

<meta name="description" content="Maak vrienden, doe mee en val op!" />
<meta name="keywords" content="dox hotel, virtueel, wereld, sociaal netwerk, gratis, community, avatar, chat, online, tiener, roleplaying, doe mee, sociaal, groepen, forums, veilig, speel, games, online, vrienden, tieners, zeldzaams, zeldzame meubi, verzamelen, maak, verzamel, kom in contact, meubi, meubeks, huisdieren, kamer inrichten, delen, uitdrukking, badges, hangout, muziek, beroemdheid, VIP-visits, celebs, mmo, mmorpgs, massive multiplayer" />

<!--[if IE 8]>
<link rel="stylesheet" href="{url}/web-gallery/static/styles/ie8.css" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link rel="stylesheet" href="{url}/web-gallery/static/styles/ie.css" type="text/css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="{url}/web-gallery/static/styles/ie6.css" type="text/css" />
<script src="{url}/web-gallery/static/js/pngfix.js" type="text/javascript"></script>
<script type="text/javascript">
try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
</script>

<![endif]-->
<meta name="build" content="63-BUILD848 - 24.10.2011 11:04 - nl" />
</head>

<body id="client">
<div id="overlay"></div>
<img src="{url}/web-gallery/v2/images/page_loader.gif" style="position:absolute; margin: -1500px;" />

<div id="stepnumbers">

    <div class="stepdone">Geboortedatum &amp; geslacht</div>

    <div class="stepdone">Gegevens</div>

    <div class="step3focus">Veiligheidscheck</div>

    <div class="stepdox"></div>

</div>



<div id="main-container">

	{bean_error}

       <div id="error-placeholder"></div>
    <h3>Nog een klein veiligheidsdingetje voor we gaan..</h3>        
    <div class="delimiter_smooth">

        <div class="flat">&nbsp;</div>

        <div class="arrow">&nbsp;</div>

        <div class="flat">&nbsp;</div>

    </div>


<form id="capt" method="POST" action="finalcheck">
    <div id="inner-container"><center>
       <img id="captcha" src="{url}/captcha/securimage_show.php" alt="CAPTCHA Image" />
	   <br><br>Vul de bovenstaande code over:<br><input type="text" name="captcha_code" size="20" maxlength="6" class="area"/><br>

<a href="#" onclick="document.getElementById('captcha').src = '{url}/captcha/securimage_show.php?' + Math.random(); return false">Geef me een ander plaatje</a>
   </center> </div>



    <div id="select">

        <a href="/quickregister/email_password" id="back-link">Terug</a>

        <div class="button">

            <a id="proceed-button" href="javascript:;" class="area" onclick="document.getElementById('capt').submit();">Klaar!</a>

            <span class="close"></span>

        </div>

   </div>
</form>

    



</div>

<script type="text/javascript">
    HabboView.run();
</script>

</body>
</html>