
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Dox Hotel: Meld je gratis aan</title>

<script type="text/javascript">
	if(top != self) top.location = self.location;
	var andSoItBegins = (new Date()).getTime();
</script>

<link rel="shortcut icon" href="{url}/web-gallery/v2/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="stylesheet" href="{url}/web-gallery/static/styles/common.css" type="text/css" />

<script src="{url}/web-gallery/static/js/libs2.js" type="text/javascript"></script>
<script src="{url}/web-gallery/static/js/visual.js" type="text/javascript"></script>
<script src="{url}/web-gallery/static/js/libs.js" type="text/javascript"></script>
<script src="{url}/web-gallery/static/js/common.js" type="text/javascript"></script>

<script type="text/javascript">
document.doxLoggedIn = false;
var doxName = null;
var ad_keywords = "";
var doxReqPath = "";
var doxStaticFilePath = "{url}/web-gallery";
var doxImagerUrl = "/dox-imaging/";
var doxPartner = "";
window.name = "doxMain";
if (typeof DoxClient != "undefined") {
    DoxClient.windowName = "client";
    DoxClient.maximizeWindow = true;
}
</script>

<link rel="stylesheet" href="{url}/web-gallery/static/styles/quickregister.css" type="text/css" />
<script src="{url}/web-gallery/static/js/quickregister.js" type="text/javascript"></script>

<meta name="description" content="Maak vrienden, doe mee en val op!" />
<meta name="keywords" content="dox hotel, virtueel, wereld, sociaal netwerk, gratis, community, avatar, chat, online, tiener, roleplaying, doe mee, sociaal, groepen, forums, veilig, speel, games, online, vrienden, tieners, zeldzaams, zeldzame meubi, verzamelen, maak, verzamel, kom in contact, meubi, meubeks, huisdieren, kamer inrichten, delen, uitdrukking, badges, hangout, muziek, beroemdheid, VIP-visits, celebs, mmo, mmorpgs, massive multiplayer" />

<!--[if IE 8]>
<link rel="stylesheet" href="{url}/web-gallery/static/styles/ie8.css" type="text/css" />
<![endif]-->
<!--[if lt IE 8]>
<link rel="stylesheet" href="{url}/web-gallery/static/styles/ie.css" type="text/css" />
<![endif]-->
<!--[if lt IE 7]>
<link rel="stylesheet" href="{url}/web-gallery/static/styles/ie6.css" type="text/css" />
<script src="{url}/web-gallery/static/js/pngfix.js" type="text/javascript"></script>
<script type="text/javascript">
try { document.execCommand('BackgroundImageCache', false, true); } catch(e) {}
</script>
<![endif]-->
<meta name="build" content="63-BUILD848 - 24.10.2011 11:04 - nl" />
</head>

<body id="client" class="background-agegate">
<div id="overlay"></div>
<img src="{url}/web-gallery/v2/images/page_loader.gif" style="position:absolute; margin: -1500px;" />

<div id="stepnumbers">
    <div class="step1focus">Geboortedatum &amp; geslacht</div>
    <div class="step2">Gegevens</div>
    <div class="step3">Veiligheidscheck</div>
    <div class="stepdox"></div>
</div>

<div id="main-container">

<noscript>

<div id="alert-javascript-container">

    <div id="alert-javascript-title">

        JavaScript ontbreekt

    </div>

    <div id="alert-javascript-text">

        JavaScript is in jouw browser uitgezet. Zet JavaScript aan of gebruik een andere browser om Dox Hotel te spelen.

    </div>

</div>

</noscript>



<div id="alert-cookies-container" style="display:none">

    <div id="alert-cookies-title">

        Cookie-ondersteuning ontbreekt

    </div>

    <div id="alert-cookies-text">

        Cookies staan uit in de instellingen van je browser. Zorg dat je computer cookies accepteert.

    </div>

</div>

<script type="text/javascript">

    document.cookie = "doxtestcookie=supported";

    var cookiesEnabled = document.cookie.indexOf("doxtestcookie") != -1;

    if (cookiesEnabled) {

        var date = new Date();

        date.setTime(date.getTime()-24*60*60*1000);

        document.cookie="doxtestcookie=supported; expires="+date.toGMTString();

    } else {

        $('alert-cookies-container').show();

    }

</script>


       <div id="error-placeholder"></div>
    <form id="quickregisterform" method="post" action="/quickregister/age_gate_submit">

        <h2>Geslacht</h2>

       


        <div id="inner-container">
            <div id="gender-selection">
                <h3>Ik ben een....</h3>
                <input type="hidden" id="avatarGender" name="bean.gender" value=""/>
                <ul id="gender-choices">
                    <li>
                        <span class="bgtop"></span>
                        <span class="bgbottom"></span>
                        <span class="gender-choice">
                            Jongen<br/><img alt="male" src="{url}/web-gallery/v2/images/frontpage/male_sign.png" width="36" height="47">
                        </span>
                    </li>
                    <li>
                        <span class="bgtop"></span>
                        <span class="bgbottom"></span>
                        <span class="gender-choice">
                            Meisje<br/><img alt="female" src="{url}/web-gallery/v2/images/frontpage/female_sign.png" width="36" height="47">
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </form>

    <div id="select">
        <a id="back-link" href="/quickregister/cancel">Terug</a>
        <div class="button">
            <a id="proceed" href="#" class="area">Verder</a>
            <span class="close"></span>
        </div>
   </div>
</div>

<script type="text/javascript">
    L10N.put("identity.register.overlay.loading.text", 'Laden...');
    document.observe("dom:loaded", function() {
        QuickRegister.initAgeGate(true);
        QuickRegister.initGenderChooser("male");
    });
</script>

<script type="text/javascript">
    HabboView.run();
</script>

</body>
</html>